.anchor { position: relative; }
.blackBox { background-color: black; border-radius: 50%; margin: 4px; padding: 16px; }
.cdf { border: 4px solid orange; margin: 4px; padding: 4px; }
.popup {
  position: absolute; top: 0; left: 0;
  background-color: white; border: 1px solid black;
  padding: 4px;
  display: flex; flex-direction: column;
  white-space: nowrap;
  z-index: 1;
}
.name { border: 4px solid orange; border-radius: 50%; margin: 4px; padding: 8px; }
.frame { margin: 4px; border: 1px solid grey; }
.seqSymbol { width: 10px; height: 10px; border: 2px solid black; margin: 4px; }
.branchKind { padding: 8px; }

.column { display: flex; flex-direction: column; }
.row { display: flex; flex-direction: row; }
.center { align-items: center; justify-content: center; }
.left { align-items: left; }

input[type="number"] { width: 5em; }
input[type="text"] { width: 7em; }
